<h1>ConfiCheck</h1>

<p>
	Welcome to ConfiCheck! When you have data of a sample, you cannot immediately generalize the characteristics
	of the data to represent the characteristics of the whole population. You must make a confidence interval,
	which is what we can help you with.
</p>

<p>
	What do you want to do?
</p>

	<%= form_tag "/data/form", method: "get" do %>
    <%= radio_button_tag :type, "tdist" %>
    <%= label_tag :type_tdist, "Find average of a population!" %>
    <%= radio_button_tag :type, "phat" %>
    <%= label_tag :type_phat, "Find proportion of a population!" %>

<input type="submit" value="Submit!" />
<% end %>
