<%= form_for :data, :url => {:action => "form"} do |f| %>
    <p>
      <%= @greeting %>
    </p>
	<p>
		<%= f.check_box :srs %>
		<%= f.label :srs, "Simple random sample?" %>
    </p>

    <p>
		<%= f.check_box :indep %>
		<%= f.label :indep, "Independent?" %>
	</p>

	<p>
		<%= f.label :pop_size, "Population size" %>
		<%= f.text_field :pop_size %>
    </p>

    <p>
      <%= f.label :conf_level, "Confidence Level (i.e. 95%)" %>
      <%= f.text_field :conf_level %>
    </p>

    <p>
      <%= f.label :z_crit, "Z critical value" %>
	  <%= f.label :z_crit, "This is the Z-score corresponding to your confidence level." %>
      <%= f.text_field :z_crit %>
	</p>
 
	<p>
		<%= f.label :d, "Input Proportion" %>
		<%= f.text_area :d %>
	</p>
 
	<p>
		<%= f.submit "Submit" %>
      <%=  image_submit_tag("submit2.png")%>
      <input alt="" src="/assets/images/submit2.png" type="image" />
	</p>
<% end %>
